*begin lagans_dream_pool_connection

*export 1 	;entrance to dream pool, link to dream pool survey stn 17
*export 10	;link to dave clucas main survey stn 46

*date 2012.04.19
*team andy eavis, fran white

1	2	21.0	063	-5
2	3	44.3	336	0
3	4	13.8	355	0
4	5	12.3	020	-3
5	6	19.7	058	2
6	7	12.1	007	27
7	8	8.6	061	31
8	9	42.5	028	-11
9	10	10.7	289	-3

*end lagans_dream_pool_connection
